*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#dbeafe,#b8d8ff);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:900px;
    background:#fff;
    padding:35px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.container h1{
    text-align:center;
    color:#0f2b6d;
    font-size:55px;
    margin-bottom:30px;
}

/* Search */

.search{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.search input{
    flex:1;
    padding:18px;
    border:2px solid #d6d6d6;
    border-radius:15px;
    font-size:18px;
    outline:none;
}

.search input:focus{
    border-color:#1d4ed8;
}

.search button{
    width:180px;
    background:#1d4ed8;
    color:white;
    border:none;
    border-radius:15px;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

.search button:hover{
    background:#163da8;
}

/* Weather Box */

.weather-box{

    display:flex;
    justify-content:space-between;
    background:#eef6ff;
    border:2px solid #d4e5ff;
    border-radius:20px;
    padding:35px;

}

.left{

    width:45%;
    text-align:center;

}

.left h2{

    font-size:48px;
    color:#0f2b6d;

}

.left p{

    color:#2563eb;
    margin:12px 0;
    font-size:22px;

}

.left h1{

    font-size:95px;
    color:#0f2b6d;
    margin:20px 0;

}

.right{

    width:45%;
    border-left:2px solid #d6e4ff;
    padding-left:35px;

}

.info{

    display:flex;
    align-items:center;
    margin-bottom:28px;

}

.info i{

    font-size:35px;
    color:#2563eb;
    margin-right:18px;

}

.info span{

    color:#555;
    font-size:18px;

}

.info h3{

    color:#0f2b6d;
    font-size:30px;

}

/* Footer */

.footer{

    margin-top:30px;
    text-align:center;
    color:#5f6f8a;
    font-size:18px;

}

.footer i{

    margin-right:8px;

}

/* Responsive */

@media(max-width:900px){

.container{

    width:95%;
    padding:20px;

}

.weather-box{

    flex-direction:column;

}

.left,
.right{

    width:100%;
    border:none;
    padding:0;

}

.right{

    margin-top:30px;

}

.search{

    flex-direction:column;

}

.search button{

    width:100%;
    height:55px;

}

.container h1{

    font-size:38px;

}

.left h1{

    font-size:70px;

}

}